natsort==8.4.0
numpy<2
Pillow==10.4.0
pyparsing==3.1.2
PyYAML==6.0.1
remi==2022.7.27
requests==2.32.3
tflite-runtime==2.14.0
cached-property==1.5.2
yagmail==0.15.293
psutil==6.0.0
opencv-python==4.10.0.84
